{{ define "main" }}
  <div class="earth-wrap">
    <div class="earth"></div>
  </div>

  {{ .Content }}

  <div class="newsletter">
    <h3>Subscribe to Our Newsletter</h3>
    <form action="https://gmail.us6.list-manage.com/subscribe/post?u=c45217b94cae753fee2e54ea0&amp;id=b573f47df5&amp;f_id=00a9c2e1f0" method="post" target="_blank" class="newsletter-form">
      <input type="email" name="EMAIL" placeholder="your@email.com" required>
      <div aria-hidden="true" style="position: absolute; left: -5000px;">
        <input type="text" name="b_c45217b94cae753fee2e54ea0_b573f47df5" tabindex="-1" value="">
      </div>
      <button type="submit">Subscribe</button>
    </form>
  </div>
{{ end }}